{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/lexxtechmtp/js/app.js') }}"></script>
{% endblock %}
<select id="select-country">
    <option value="FR">FR</option>
    <option value="BG">BG</option>
    <option value="US">US</option>
    <option value="CA">CA</option>
    <option value="RU">RU</option>
    <option value="IT">IT</option>
    <option value="GB">GB</option>
    <option value="GE">GE</option>
</select>
<br>
<button id="submit-button">Send</button>
